::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}

html {
  background-color: rgb(0, 18, 58);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: calc(100vw - 5px);
  margin: 0;
  text-align: center;
}

.headline-container,
.footer-vid-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  box-sizing: border-box;
}

.headline-container {
  background-image: url("../assets/bg-headline-section.jpg");
}

.main-section-container {
  background-color: beige;
  padding: 2em 5em;
}

.main-section-container > h3,
.footer-vid-container > h3 {
  font-weight: 400;
}
button {
  background-color: #00bfff;
  color: #fff;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: #008fbf;
}

.main-section-container > button {
  padding: 5px 15px;
  margin: 0 2em;
}
.footer-vid-container {
  background-image: url("../assets/bg-meeting-footer.jpeg");

  text-align: center;
}

.footer-vid-container > button {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 80px;
}

.details-container {
  color: #888;
  text-align: left;
  padding: 2em;
}
.details-container > span {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  margin-left: 1em;
}
.details-container > i {
  display: block;
}
.details-container > a {
  text-decoration: none;
  color: #888;
}
.details-container > p {
  margin-top: 0;
}
